*{
    background: #525252;
    color: white;
}
.letras{
    font-size: 15px;
    text-align: justify;
}
.containerMenor{
    width: 12rem;
    height: 10rem;
}
.containerMenor p{
    font-size: 15px;
}
.colorir{
    text-align: justify;
}
.imgWhats{
    background-color: #FD9302;
    
}
button{
    background-color: #FD9302; 
    list-style: none;
    border: none;
    border-radius:5px;
    height: 2rem;
    width: 10rem;
}


