<div class="container-fluid">
    <div class="row justify-content-center"> 
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8 mt-5" >
            <div class="row">
                <div class="col-6 text-center" >
                    <p class="letras">Duvidas, sujestoes ou reclamações<br> entre em contato conosco.</p>
                </div>
                <div class="col-6" >
                    <h5>Contato</h5>
                    <button class=""> <img src="../../../assets/whatsapp.png" class="imgWhats" alt="">Whatsapp</button><br>
                    <P>E-mail:hulkbarbearia@gmail.com </P>
                </div>
                <div class="col-12 text-center mt-5" >
                    <p>Todos os direitos reservados &copy;</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
    <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6  mt-5">
                <div class="containerMenor text-center">
                    <p class="letras">Duvidas, sujestoes ou reclamações entre em contato conosco.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-5 colorir" >
                <h3>Contato</h3>
                <button class=""> <img src="../../../assets/whatsapp.png" class="imgWhats" alt="">Whatsapp</button>
            </div>
            <div class="col-12 text-center">
                <p>Todos os direitos reservados &copy;</p>
            </div>
        </div>
-->