<div class="container-fluid">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6  mt-5">
                <div class="containerMenor">
                    <p class="letras">Duvidas, sujestoes ou reclamações entre em contato conosco.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-5 colorir" >
                <h3>Contato</h3>
                <button class=""> <img src="../../../assets/whatsapp.png" alt="">Whatsapp</button>
            </div>
            <div class="col-12">
                <p>Todos os direitos reservados &copy;</p>
            </div>
        </div>
    </div>
</div>
