<div class="container">
  <app-nav-bar></app-nav-bar>
</div>
<!-- form -->
<div class="container mt-5">
    <div class="row justify-content-center mt-5">
        <div class=" col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4  ">
          <form class="" (ngSubmit)="inserirTarefa()">
            <div class="row ">
              <div class="col-sm-12 col-md-6 col-lg-12 col-xl-12 col-xxl-12">
                <input placeholder="Insira seu nome" class="form-control" type="text" name="nome" id="nome" [(ngModel)]="nome" >
                <input placeholder="Insira uma tarefa" class="form-control" type="text" name="titulo" id="titulo" [(ngModel)]="titulo" >
                <input placeholder="Descrição da atividade" class="form-control" type="text" name="descricao" id="descricaco" [(ngModel)]="descricaco">
                <input placeholder="Insira a data de atendimento" class="form-control" type="date" name="dataAtendimento" [(ngModel)]="dataAtendimento" >
              </div>
              <div class="col-sm-12 col-md-6 col-lg-12 col-xl-12 col-xxl-12 mt-3">
                 <button class="text-center" type="submit" class="btn btn-success" [disabled]="titulo === '' ">Inserir serviço</button>
              </div>
            </div>
          </form>
        </div>
    </div>
</div>
<!-- inicio dos campos do kambam -->
<div class="container mt-3 background-containerToDo">
    <div class="row justify-content-center">
        <div class=" col-sm-4 col-md-6 col-lg-3 col-xl-3 col-xxl-3 pt-5">
            <h2 class="text-center">To Do</h2>
           <div *ngFor="let item of todos" class="card text-bg-secondary mb-3" style="max-width: 30rem">
            <div class="card-header">
              <div class="row">
                <div class="col-9">
                  <h5 class="card-title">Nome: {{item.nome}}</h5>
                  <h5 class="card-title">{{item.id}}. {{ item.titulo }}</h5>
                </div>
                <div class="col-3">
                  <button (click)="editarCard()" class="bg-secondary" style="border: none;"><img src="../../../assets/editing.png" alt=""></button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text">
                {{item.descricaco}}
              </p>
            </div>
            <div class="d-flex">
              <button  class="btn btn-danger" (click)="excluir(item)">Excluir</button>
              <button style="margin-left: 3px;" class="btn btn-primary" (click)="sendoFeitas(item)">Iniciar</button>
            </div>
           </div>
        </div>
        <div class="col-sm-4 col-md-6 col-lg-3 col-xl-3 col-xxl-3 pt-5">
            <h2 class="text-center">Doing</h2>
            <!-- <h4 *ngFor="let item of tarefasFazendo" class="mt-5">{{ item.id }}. {{ item.titulo  }} <button style="margin-left: 3px;" class="btn btn-warning" (click)="finalizarTarefa(item)">FINALIZAR TAREFA</button> </h4> -->
            <div *ngFor="let item of tarefasFazendo" class="card text-bg-danger mb-3" style="max-width: 30rem">
              <div class="card-header">
                <h5 class="card-title">Nome: {{item.nome}}</h5>
                <h5 class="card-title">{{item.id}}. {{ item.titulo }}</h5>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{item.id}}. {{ item.titulo }}</h5>
                <p class="card-text">
                  {{item.descricaco}}
                </p>
              </div>
              <div class="d-flex">
                <button style="margin-left: 3px;" class="btn btn-warning" (click)="finalizarTarefa(item)">FINALIZAR TAREFA</button>
              </div>
            </div>
        </div>
        <div class=" col-sm-4 col-md-6 col-lg-3 col-xl-3 col-xxl-3 pt-5">
            <h2 class="text-center">Done</h2>
            <div *ngFor="let item of tarefasFinalizadas"  class="card text-bg-primary mb-3" style="max-width: 30rem">
              <div class="card-header">
                <div class="row">
                  <div class="col-2">
                    <img src="../../../assets/check_small_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg" alt="">
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-10 col-xl-10 col-xxl-10">
                    <h5 class="card-title">Nome: {{item.nome}}</h5>
                    <h5 class="card-title">{{item.id}}. {{ item.titulo }}</h5>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">
                  {{item.descricaco}}
                </p>
              </div>
            </div>
        </div>
    </div>
    <div ngif="true" class="modal-lg" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Card</h5>
      </div>
      <hr>
      <div class="modal-body">
        <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-12 col-xl-12 col-xxl-12">
                <input placeholder="Insira seu nome" class="form-control" type="text" name="nome" id="nome" [(ngModel)]="nome" >
                <input placeholder="Insira uma tarefa" class="form-control" type="text" name="titulo" id="titulo" [(ngModel)]="titulo" >
                <input placeholder="Descrição da atividade" class="form-control" type="text" name="descricao" id="descricaco" [(ngModel)]="descricaco">
                <input placeholder="Insira a data de atendimento" class="form-control" type="date" name="dataAtendimento" [(ngModel)]="dataAtendimento" >
              </div>
            </div>
      </div>
      <hr>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>

<!-- 
 - Ativar funciolidades de de *CLOSE* e *SAVE CHANGES* tanto no HTML quanto no TYPESCRIPT.
 - Dar continuidade na funcionalidade de *EDITAR CARD*.
-->

<!-- <div class="modal" ngIf="editCard === true" tabindex="-1" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Tarefa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center mt-5">
          <div class=" col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4  ">
            <form class="" (ngSubmit)="inserirTarefa()">
              <div class="row ">
                <div class="col-sm-12 col-md-6 col-lg-12 col-xl-12 col-xxl-12">
                  <input placeholder="Insira seu nome" class="form-control" type="text" name="nome" id="nome" [(ngModel)]="nome" >
                  <input placeholder="Insira uma tarefa" class="form-control" type="text" name="titulo" id="titulo" [(ngModel)]="titulo" >
                  <input placeholder="Descrição da atividade" class="form-control" type="text" name="descricao" id="descricaco" [(ngModel)]="descricaco">
                  <input placeholder="Insira a data de atendimento" class="form-control" type="date" name="dataAtendimento" [(ngModel)]="dataAtendimento" >
                </div>
                <div class="col-sm-12 col-md-6 col-lg-12 col-xl-12 col-xxl-12 mt-3">
                   <button class="text-center" type="submit" class="btn btn-success" [disabled]="titulo === '' ">Inserir serviço</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->